:root {
  /* Primary */
  --main: hsl(0, 100%, 74%);
  --main-background: hsl(30, 38%, 92%);
  --main-shadow: hsla(32, 30%, 31%, 0.375);
  --secondary: hsl(154, 59%, 51%);

  /* Neutral */
  --form-background: hsl(0, 0%, 100%);
  --line-color: rgba(107, 107, 107, 0.29);

  /* Font */
  --font: "Poppins", sans-serif;
  --font-color: hsl(0, 0%, 100%);
  --content-font-color: rgb(60, 60, 60);
  --footer-font-color: hsl(249, 10%, 26%);
  --light-font-color: hsl(246, 25%, 77%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Primary */
    --main: #16213e;
    --main-background: #0f3460;
    --main-shadow: #00000000;

    /* Neutral */
    --line-color: hsl(30, 38%, 92%);

    /* Font */
    --content-font-color: hsl(30, 38%, 92%);
  }
}

* {
  transition-duration: 200ms !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--main);
}

#bar {
  width: 1%;
  height: 6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition-duration: 0ms !important;
}

.main-content {
  background-image: url("../images/bg-intro-mobile.png");
  background-attachment: fixed;
  background-color: var(--main);
  position: relative;
  top: 0;
  margin-bottom: 182px;
  z-index: 100;
}

.titles-div {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15%;
}

.title {
  color: var(--font-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
  text-decoration: none;
}

.subtitle {
  color: var(--font-color);
  font-family: var(--font);
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15%;
}

.content {
  background-color: var(--main-background);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 8px 0px 0 var(--main-shadow);
}

hr {
  width: 90%;
  border: 1px solid var(--line-color);
  color: var(--line-color);
}

h1,
p {
  font-family: var(--font);
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  margin-top: 20px;
  color: var(--content-font-color);
  font-size: 1.5rem;
  text-decoration-thickness: 3px;
}

p {
  color: var(--content-font-color);
  text-align: justify;
  margin-bottom: 20px;
}

p:last-of-type {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.home {
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  margin-bottom: 50px;
}

.home-a {
  font-family: var(--font);
  font-weight: 600;
  font-size: 1rem;
  color: var(--font-color);
  line-height: 5px;
}

.top {
  color: var(--main);
  text-decoration: none;
  background-color: var(--font-color);
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: var(--font);
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  box-shadow: 0px 8px 0px 0 var(--main-shadow);
}

i {
  font-size: 30px;
  padding: 10px;
  margin: 0;
}

.top:active {
  cursor: pointer;
  background-color: var(--secondary);
  translate: 0 -5px;
}

.top:active > i {
  color: var(--font-color);
  translate: 0 -5px;
}

.fa {
  font-weight: bold !important;
}

.footer {
  background-color: var(--form-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.footer-message {
  font-family: var(--font);
  color: var(--footer-font-color);
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.terms {
  font-family: var(--font);
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--light-font-color);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.home-link {
  color: var(--main);
  font-family: var(--font);
  text-decoration: none;
}

@media (hover: hover) {
  .home-link:hover {
    text-decoration: underline;
  }

  .top:hover {
    cursor: pointer;
    background-color: var(--secondary);
    translate: 0 -5px;
  }

  .top:hover > i {
    translate: 0 -5px;
    color: var(--font-color);
  }

  .home-a:hover {
    font-size: 1.2rem;
    text-decoration: underline;
  }
}

@media screen and (min-width: 500px) {
  .main-content {
    background-image: url("../images/bg-intro-desktop.png");
    margin-bottom: 158px;
  }

  .titles-div {
    padding-top: 10%;
  }

  .title {
    font-size: 3rem;
    width: auto;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 10%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
  }

  h1,
  p {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  #bar {
    height: 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .content {
    padding-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .home-a {
    text-decoration: none;
  }

  .footer {
    padding-top: 40px;
  }
}
